/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Ruhl", sans-serif;
  -webkit-animation: opening 1s ease-in-out forwards;
          animation: opening 1s ease-in-out forwards;
}

h1 {
  font-family: "Vibes", sans-serif;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

.nav-item {
  padding: 12px 25px;
}

.nav-item:hover {
  color: white;
  background-color: black;
  border-radius: 25px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 7rem;
  padding: 2rem 0 0 0;
  background: -webkit-gradient(linear, left top, right top, from(#020067), to(#ff4040));
  background: linear-gradient(left, #020067, #ff4040);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h3 {
  font-size: 5rem;
  font-weight: medium;
  margin: 0 0 15px 0;
}

.intro p {
  margin-bottom: 35px;
}

.intro-social > * + * {
  margin-left: 15px;
}

.intro-images,
.intro-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
}

.intro-tools {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.dev-tool {
  position: absolute;
  width: 10rem;
  height: 10rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.dev-tool.zoom {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#css,
#js,
#html {
  right: 0;
}

#css {
  -webkit-animation: tools1 1.7s linear infinite;
          animation: tools1 1.7s linear infinite;
  top: 35%;
  right: 10%;
}

#html {
  -webkit-animation: tools2 1.7s linear infinite;
          animation: tools2 1.7s linear infinite;
  top: 60%;
  right: 30%;
}

#js {
  -webkit-animation: tools1 1.7s linear infinite;
          animation: tools1 1.7s linear infinite;
  width: 15%;
  top: 10%;
  right: 30%;
}

#jquery,
#gulp,
#sass {
  left: 0;
}

#jquery {
  -webkit-animation: tools2 1.7s linear infinite;
          animation: tools2 1.7s linear infinite;
  top: 35%;
  left: 5%;
}

#gulp {
  -webkit-animation: tools1 1.7s linear infinite;
          animation: tools1 1.7s linear infinite;
  top: 60%;
  left: 30%;
}

#sass {
  -webkit-animation: tools2 1.7s linear infinite;
          animation: tools2 1.7s linear infinite;
  width: 15%;
  top: 10%;
  left: 30%;
}

#head__shadow,
#head {
  -webkit-animation: head 1s infinite;
          animation: head 1s infinite;
}

@-webkit-keyframes head {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes head {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.intro-images svg {
  width: 80%;
}

.splash {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.footer-name {
  font-weight: bold;
}

footer {
  width: 100%;
  padding: 10px 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4040), to(#020067));
  background: linear-gradient(#FF4040, #020067);
}

footer #insta {
  fill: black;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

form {
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  border-radius: 15px;
  padding: 20px;
}

form button {
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  margin: 10px 0 0 0;
}

.form-label {
  display: block;
  padding: 10px 0;
}

.form-input {
  max-width: 100%;
  padding: 5px 10px;
  outline: none;
}

.form-input:focus {
  -webkit-box-shadow: 0px 0 10px 0 green;
          box-shadow: 0px 0 10px 0 green;
}

.form-input._error {
  -webkit-box-shadow: 0px 0 10px red;
          box-shadow: 0px 0 10px red;
}

.form-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/loader.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.form-section._sending::after {
  opacity: 1;
  visibility: visible;
}
