.form {
    &__body {
        width: 100%;
        @include flex(space-between, center, column);
        @include bg2;
        font-size: 20px;
        &.hide {
            display: none;
        }
    }
    //.form__title
    &__title {
        text-align: center;
    }
    // .form__section
    &__section {
        @include flex(center, center, row);
        min-height: 100vh;
    }
    // .form__wrapper
    &__wrapper {
        border: 3px solid $mainColor;
        border-radius: 15px;
        padding: 30px 50px;
        max-height: 500px;
        max-width: 500px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        @include flex(center, center, column);
        @media (max-width: $md3+px) {
            // padding: 40px 20px;
        }
    }
    //.form__message
    &__message {
        font-family: $fontfamily;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $mainColor;
        text-align: center;
    }
    // .form__item
    &__item {
        margin-bottom: 15px;
        width: 100%;
    }
    // .form__label
    &__label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
    }
    // .form__input
    &__input {
        font-family: $fontfamily;
        background-color: #007397;
        height: 50px;
        padding: 5px 15px;
        border-radius: 15px;
        max-width: 500px;
        width: 100%;
        color: white;
        font-weight: 800;
        &:focus {
            box-shadow: 0 2px 15px 3px green;
        }
    }
    @media (max-width: $md2+px) {}
    @media (max-width: $md4+px) {}
}

.container {
    height: 100%;
    width: 100%;
}

.asterix {
    color: red;
}

.content {
    // .content__link
    &__link {
        padding: 0 15px;
        justify-self: start;
        &__text {
            color: white;
        }
    }
}

.btn {}