//=============NAVBAR=============
.main-head {
	width: 95%;
	margin: 0 0 0 auto;
}
.nav-item {
	padding: 12px 25px;
}
.nav-item:hover {
	color: white;
	background-color: black;
	border-radius: 25px;
}
nav {
	@include flex(space-between, center, row);
	min-height: 10vh;
	width: 100%;
	flex-wrap: wrap;
	.logo {
		@include flex(flex-start, center, row);
		flex: 1 1 10rem;
		h1 {
			margin: 2rem;
		}
	}
	ul {
		@include flex(space-around, center, row);
		flex: 1 1 40rem;
	}
}
.intro {
	min-height: 90vh;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
	@include flex(space-between, center, row);
	h2 {
		font-size: 7rem;
		padding: 2rem 0 0 0;
		background: $gradient;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	h3 {
		font-size: 5rem;
		font-weight: medium;
		margin: 0 0 15px 0;
	}
	p {
		margin-bottom: 35px;
	}
}
.intro-social > * + * {
	margin-left: 15px;
}
.intro-images,
.intro-text {
	flex: 1 1 40rem;
	position: relative;
}
.intro-tools {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// animation: tools 30s linear infinite;
}
.dev-tool {
	position: absolute;
	width: 10rem;
	height: 10rem;
	transition: 0.3s ease-in;
}
.dev-tool.zoom {
	transform: scale(1.5);
	transition: 0.3s ease-in;
}
#css,
#js,
#html {
	right: 0;
}
#css {
	animation: tools1 1.7s linear infinite;
	top: 35%;
	right: 10%;
}
#html {
	animation: tools2 1.7s linear infinite;
	top: 60%;
	right: 30%;
}
#js {
	animation: tools1 1.7s linear infinite;
	width: 15%;
	top: 10%;
	right: 30%;
}

#jquery,
#gulp,
#sass {
	left: 0;
}
#jquery {
	animation: tools2 1.7s linear infinite;
	top: 35%;
	left: 5%;
}
#gulp {
	animation: tools1 1.7s linear infinite;
	top: 60%;
	left: 30%;
}
#sass {
	animation: tools2 1.7s linear infinite;
	width: 15%;
	top: 10%;
	left: 30%;
}
#head__shadow,
#head {
	animation: head 1s infinite;
}

// @keyframes tools1 {
// 	0% {
// 	}
// 	30% {
// 		transform: translate(0px, 5px);
// 	}
// 	70% {
// 		transform: translate(10px, 2px);
// 	}
// }
// @keyframes tools2 {
// 	0% {
// 	}
// 	30% {
// 		transform: translate(12px, 2px);
// 	}
// 	70% {
// 		transform: translate(7px, 14px);
// 	}
// }
@keyframes head {
	50% {
		transform: translateY(10px);
	}
}

.intro-images svg {
	width: 80%;
}
.splash {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}
